<div id="headerTop" class="col-md-12 col-lg-12 col-sm-6 col-xs-6 header-logo" style="padding: 10px 0 20px 0;">
    <div class="row">
        <div class="col-lg-4 col-md-4 language hidden-xs hidden-sm">
            <div style="color: #333;display: inline-block;margin-right: 15px;vertical-align: middle;">
                <i class="fas fa-phone-alt" style="font-size: 17px;"></i>
                <b>19002812</b>
            </div>
        </div>
        <div class="site-branding col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="/" class="logo">
                <img src="https://mcdn.nhanh.vn/store/18131/store_1504601143_332.png" alt="logo">
            </a>
        </div>
        <div class="header-icon col-md-4 col-lg-4 hidden-xs hidden-sm">
            <ul class="hidden-xs hidden-sm">
                <li class="menu-item menu-item-search">
                    <a routerLink="search"><i class="fas fa-search fas-icon"></i></a>
                </li>
                <li class="menu-item menu-item-account">
                    <div class="language list-dropdown">
                        <a routerLink="form"><i class="far fa-user  fas-icon"></i></a>
                        <ul>
                            <li style="clear:both;display: block;text-align: left"><a href="/user/signin">Đăng nhập</a></li>
                            <li style="clear:both;display: block;text-align: left"><a href="/user/signup">Đăng ký</a></li>
                        </ul>
                    </div>
                    
                </li>
                <li class="menu-item menu-item-cart">
                    <a routerLink="cart">
                        <i class="fas fa-cart-arrow-down  fas-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>