<nav class="main-navigation site-navigation col-lg-12 col-md-12 hidden-xs  hidden-sm sticky-header ">

    <ul class="nav-menu">
        <li class="menu-logo ">
            <a routerLink="" class="logo">
                <img src="https://mcdn.nhanh.vn/store/18131/store_1504601143_332.png" alt="logo">
            </a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menuLevel1">
            <a routerLink="">TRANG CHỦ</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menuLevel1">
            <a routerLink="foot">FOOTWEAR</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menuLevel1">
            <a routerLink="access">ACCESSORIES</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menuLevel1">
            <a routerLink="women">WOMEN </a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menuLevel1">
            <a routerLink="man">MAN</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menuLevel1">
            <a routerLink="bag">BAGS</a>
        </li>
    </ul>

</nav>