<div class="header-deatial">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 detail-img">
                <img [src]="item.img" alt="" />
            </div>
            <div class="col-lg-6">
                <div class="summary entry-summary">
                    <h1 class="product_title" style="margin: 0;"> {{item.name}}</h1>
                    <div>
                        <p class="price">
                            <span class="woocommerce-Price-amount amount">430,000 ₫ </span>
                        </p>
                    </div>
                    <div class="colorWrp"></div>
                    <div class="sizeWrp"></div>
                    <div class="cart">
                        <div class="quantity" style="padding: 7px;">
                            <button class="decrease">
                                -
                            </button>
                            <i id="quantity" class="input-text qty text" max="5000" val="1"
                                style="background: none;">1</i>
                            <button class="increase">
                                +
                            </button>
                        </div>
                        <a id="addToCart" href="javascript:void(0)" class="btn buy single_add_to_cart_button button"
                            psid="4798767" selid="4798767" ck="1" data-original-title="" title=""> <i
                                style="font-size: 15px;" class="fa fa-shopping-bag" aria-hidden="true"></i> Thêm vào giỏ
                            hàng</a>
                    </div>
                    <div class="product_meta">
                        <span class="posted_in">Danh mục: <a rel="tag">Women</a></span>
                    </div>
                    <div class="product-share">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://t0189.store.nhanh.vn/light-felt-coat-p4798767.html"
                            target="_blank" class="facebook-share-link">
                            <i class="fab fa-facebook-f"></i>Facebook
                        </a>
                        <a href="https://twitter.com/intent/tweet?url=http://t0189.store.nhanh.vn/light-felt-coat-p4798767.html"
                            target="_blank" class="twitter-share-link">
                            <i class="fab fa-twitter"></i>Twitter
                        </a>
                        <a href="http://pinterest.com/pin/create/button?url=http://t0189.store.nhanh.vn/light-felt-coat-p4798767.html"
                            target="_blank" class="pinterest-share-link">
                            <i class="fab fa-pinterest-p"></i>Pinterest
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>