<div class="col-centered col-md-12">
    <h3 style="margin:0px 0 0px;">
        <img alt="" src="https://mcdn.nhanh.vn/website/template/374/contentKey/2174/iconlogo.png" style="width:14px;height:14px;">&nbsp;
        <a href="">Nhanh.vn</a>
    </h3>
    <div>Tầng 3, Hà Thành Plaza, 102 Thái Thịnh, Phường Trung Liệt, Quận Đống Đa, Hà Nội
        <br>
        <a>0989 834 491</a> - <a>0914 429 900</a> - <a>04.73099966</a>
    </div>
    <div data-runtime="Memory: 6 mb - Time: 0.08s" class="runtimecopy col-centered col-md-12" align="center" style="display: block;padding: 0 5px 0; text-align: center;font-size: 14px;margin: 0">Thiết kế web bởi 
        <a target="_blank" style="margin-top:5px;font-size: 12px;display:inline-block;color: #000" href="https://nhanh.vn">
            <img src="	http://t0189.store.nhanh.vn/images/favicon.ico" alt="Thiết kế web bởi NHANH.VN" title="Thiết kế web bởi NHANH.VN">
            Nhanh.vn</a>
    </div>
</div>
