<h3 class="form-h3">Đăng Nhập</h3>
<form action="" [formGroup]="formSigup" (ngSubmit)="onSubmit()">
   
    <div class="default-form-box"> <input type="email" class="form-input"
            formControlName="email" placeholder="Email">
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched )">
            <div *ngIf="f.email.errors">
                <div *ngIf="f.email.errors.required">
                    <small id="userHelp" class="form-text text-danger">Bạn chưa nhập Email</small>
                </div>
                <div *ngIf="f.email.errors.email">
                    <small id="userHelp" class="form-text text-danger">Địa chỉ email không hợp lệ</small>
                </div>
            </div>
        </div>
    </div>
    <div class="default-form-box"> <input type="password"
            class="form-control"class="form-input" formControlName="password" placeholder="Mật khẩu">
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched )">
            <div *ngIf="f.password.errors">
                <div *ngIf="f.password.errors.required">
                    <small id="userHelp" class="form-text text-danger">Bạn chưa nhập Mật khẩu</small>
                </div>
            </div>
        </div>
    </div>
    
        <button class="htmlBtn" routerLink="login" >Đăng ký</button>
   
</form>