<div class="header-main" id="sticky">
    <div class="container-fluid">
        <div class="header-main-left d-flex align-items-ct justify-sb">
            <div class="logo">
                <img src="https://mcdn.nhanh.vn/store/18131/store_1504601143_332.png" height="45px" alt="">
            </div>
            <div class="user d-flex align-items-ct">
                <div class="user-logo">
                    <img src="https://mcdn.nhanh.vn/store/18131/ps/20171117/22228659_1958158637798279_6481759436594791816_n_552x640.jpg" alt="">
                </div>
                <p class="user-name ml-2">Join</p>
            </div>
        </div>
    </div>
</div>