<div class="row" style="padding: 10px;border-top: 1px solid #f1f2f4;border-bottom: 1px solid #f1f2f4;">
    <div class="site-info col-md-6">
        <div class="copyright">
            ©2017 Nhanh Vn
        </div>
        <nav class="footer-menu">
            <ul class="menu"> 
                <li id="menu-item-1894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1894">
                    <a>Tin tức</a>
                </li>
                <li id="menu-item-1895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1895">
                    <a>Chính sách</a>
                </li>
                <li id="menu-item-1896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1896">
                    <a>Liên hệ</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer-social col-md-6">
        <div class="socials-menu ">
            <ul class="menu"> 
                <li class="twitter menu-item menu-item-type-custom menu-item-object-custom"> 
                    <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li class="facebook menu-item menu-item-type-custom menu-item-object-custom">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="instagram menu-item menu-item-type-custom menu-item-object-custom">
                    <a href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li class="pintterest menu-item menu-item-type-custom menu-item-object-custom">
                    <a href=""><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>